<aside class="drawer" id="drawer">
  <div class="drawer-head">
    <b>Asset details</b>
    <button class="close" onclick="closeDrawer()">×</button>
  </div>
  <div class="drawer-body" id="drawerBody"></div>
</aside>
