<div class="global-results" id="globalSearch" popover="auto">
  <input id="globalSearchInput" placeholder="Search assets, people, departments..." autocomplete="off">
  <div id="globalSearchList"></div>
</div>
